@font-face {
    font-family: Inter;
    src: url('/Inter-Medium.ttf');
}

.top {
    -fx-background-color: #1e1e1e;
}

.background {
    -fx-background-color: #cecccc;
}

.text-field {
    -fx-font-family: Inter;
    -fx-font-size: 18;
}

.label {
    -fx-font-family: Inter;
    -fx-font-size: 18;
}

.appButton {
    -fx-font-family: Inter;
    -fx-font-size: 18;
    -fx-min-width: 220;
    -fx-min-height: 70;
    -fx-text-fill: white;
}

.space {
    -fx-font-family: Inter;
    -fx-font-size: 14;
}

.buttonImage {
    -fx-background-color: transparent;
}
